<!-- <app-divider cmpTitle="Placeholder Component"></app-divider> -->
<app-divider>Placeholder comp.</app-divider>
<app-placeholder [header]="true" [lines]="6"></app-placeholder>
<app-divider>Segment component</app-divider>
<app-segment>
  <div id="icn-slctr">
    <i class="pdf file outline icon"></i>
    No documents are lsited for this customer
  </div>
  <div class="ui primary button">Add Document</div>
</app-segment>
<app-segment>
  <div id="icn-slctr">
    <i class="add icon"></i>
    Add a resource
  </div>
  <div class="ui primary button">Add</div>
</app-segment>
